!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "no", :name => "msapplication-tap-highlight"}
    %meta{:content => "Aparapi is an Open-source framework for executing native Java code on the GPU, developed by Syncleus.", :name => "description"}
    %title
      Aparapi | #{page_title}
    / Favicons
    %link{:href => "/images/favicon/apple-touch-icon-152x152.png", :rel => "apple-touch-icon-precomposed"}
    %meta{:content => "#FFFFFF", :name => "msapplication-TileColor"}
    %meta{:content => "/images/favicon/mstile-144x144.png", :name => "msapplication-TileImage"}
    %link{:href => "/images/favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32"}
    / Android 5 Chrome Color
    %meta{:content => "#EE6E73", :name => "theme-color"}
    / CSS
    %link{:href => "/stylesheets/highlight.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/style.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Inconsolata", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
  %body
    %header
      .container
        %a.button-collapse.top-nav.waves-effect.waves-light.circle.hide-on-large-only{"data-activates" => "nav-mobile", :href => "#"}
          %i.material-icons menu
      %ul#nav-mobile.side-nav.fixed
        %li.logo
          %a#logo-container.brand-logo{:href => "/"}
            %object#front-page-logo{:data => "/images/logo.svg", :type => "image/svg+xml"} Your browser does not support SVG
        %li.search
          .search-wrapper.card
            %input#search
            %i.material-icons search
            .search-results
        = navigation(data.tree)
    %main
      #index-banner.section.no-pad-bot
        .container
          %h1.header.center-on-small-only #{page_title}
          .row.center
            - if page_description
              %h4.header.col.s12.light.center #{page_description}
          = yield_content(:additional_header) if content_for?(:additional_header)
        = yield_content(:banner) if content_for?(:banner)
      .container
        = yield
    %footer.page-footer
      .container
        .row
          .col.l4.s12
            %h5.white-text Help Aparapi Grow
            %p.grey-text.text-lighten-4 We are a team of volunteers working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
            %form#paypal-donate{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
              %input{:name => "hosted_button_id", :type => "hidden", :value => "EGPN4CSPCW9JN"}
              %button.btn.waves-effect.waves-light.red.lighten-3{:alt => "PayPal - The safer, easier way to pay online!", :name => "action", :type => "submit"}
                Donate Now
          .col.l4.s12
            %h5.white-text Join the Discussion
            %p.grey-text.text-lighten-4 We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.
            %a.btn.waves-effect.waves-light.red.lighten-3{:href => "https://gitter.im/Syncleus/aparapi", :target => "_blank"} Chat
          .col.l4.s12{:style => "overflow: hidden;"}
            %h5.white-text Connect
            %iframe{:allowtransparency => "true", :frameborder => "0", :height => "30", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=Syncleus&repo=aparapi&type=watch&count=true&size=large", :width => "170"}
            %br
            %a.twitter-follow-button{"data-dnt" => "true", "data-show-count" => "true", "data-size" => "large", :href => "https://twitter.com/AparapiLib"} Follow @AparapiLib
            %br
            .g-follow{"data-annotation" => "bubble", "data-height" => "24", "data-href" => "https://plus.google.com/102266131584900704956", "data-rel" => "publisher"}
      .footer-copyright
        .container
          © 2016 - present Syncleus, All rights reserved.
          %a.grey-text.text-lighten-4.right{:href => "https://github.com/Syncleus/aparapi/blob/master/LICENSE"} Apache License v2
    / Scripts
    %script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
    :javascript
      if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }
    %script{:src => "/javascripts/jquery.timeago.js"}
    %script{:src => "/javascripts/materialize.min.js"}
    %script{:src => "/javascripts/lunr.min.js"}
    %script{:src => "/javascripts/search.js"}
    %script{:src => "/javascripts/materialize.js"}
    %script{:src => "/javascripts/init.js"}
    / Twitter Button
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    / Google Plus Button
    %script{:async => "", :defer => "defer", :src => "https://apis.google.com/js/platform.js"}
