- if patterns.size > 1
  - content_for :tab_navigation do
    .mdl-layout__tab-bar.mdl-js-ripple-effect
      - patterns.each_with_index do |pattern, index|
        - css_class = %w(mdl-layout__tab)
        - css_class << 'is-active' if index == 0
        %a{:class => css_class.join(' '), :href => "#tab-#{pattern.title.parameterize}"}
          = pattern.title
- patterns.each_with_index do |pattern, index|
  - css_class = %w(mdl-layout__tab-panel)
  - css_class << 'is-active' if index == 0
  %section{:class => css_class.join(' '), :id => "tab-#{pattern.title.parameterize}"}
    .page-content
      .mpl-card-pattern.mdl-card.mdl-shadow--2dp
        .mdl-card__title.mdl-card--expand
          %h2.mdl-card__title-text
            = pattern.title
        .mdl-card__supporting-text
          - if pattern.description.present?
            = pattern.description
            %hr/
          .mpl-layout__source
            - if pattern.use_source == false
              = pattern.body
            - else
              %div{"data-iframe" => ""}
                = pattern.body
                = stylesheet_link_tag 'base'
                = javascript_include_tag 'base'
          - if pattern.show_code != false
            %hr/
            = code('html') { pattern.body }